body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: #333;
}

/* Container principal */
.main-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinha os itens horizontalmente */
    justify-content: center; /* Alinha os itens verticalmente */
    text-align: center; /* Centraliza o texto */
}


/* Estilo para a seleção de dificuldade */
.difficulty-selection {
    margin-bottom: 20px;
}

.difficulty-selection label {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.difficulty-selection select {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Estilo para o campo de nome */
.name-input {
    margin-bottom: 20px;
}

.name-input label {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
    display: block;
}

.name-input input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 8px;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Estilo para o botão de iniciar jogo */
button {
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #388e3c;
}
.ranking {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
}

.ranking h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.difficulty-ranking {
    margin-bottom: 15px;
    text-align: center;
}

.difficulty-ranking select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

.difficulty-ranking option {
    padding: 10px;
    font-size: 16px;
}

#result {
    font-size: 18px;
    color: #333;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}

@media (max-width: 600px) {
    .main-container {
        width: 90%;
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}